<<<<<<< HEAD
body {
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 50px;
}

.main-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100vw;
}

.left-side {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  width: 60%;
}

.left-side p {
  width: 350px;
}

.form-container {
  display: flex;
  background-color: #1a1a1b;
  border: solid 1px #343536;
  border-radius: 7px;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.form-title {
  font-weight: bold;
  font-size: 36px;
}

.form-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-container input,textarea {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 16px;
  outline: none;
}

textarea {
  border-radius: 10px;
}

.submit-container {
  display: flex;
  align-items: end;
}

.submit-container input {
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  transition: 200ms;
}

.submit-container input:hover {
  background-color: #dfdfdf;
}

.text-input {
  padding: 7px 10px;
}

@media (max-width: 900px) {
  main {
    align-items: flex-start;
    height: auto;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
  }
  
  .left-side {
    padding: 0;
    width: auto;
  }

  .left-side p {
    width: auto;
  }

  footer {
    display: none;
  }
  
  body {
    padding-top: 10vh;
  }

=======
body {
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 95vw;
}

.left-side {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  width: 60%;
}

.left-side p {
  width: 350px;
}

.form-container {
  display: flex;
  background-color: #1a1a1b;
  border: solid 1px #343536;
  border-radius: 7px;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 40%;
}

.form-title {
  font-weight: bold;
  font-size: 36px;
}

.form-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-container input,textarea {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 16px;
  outline: none;
  padding: 7px 10px;
}

textarea {
  border-radius: 10px;
}

.submit-container {
  display: flex;
  align-items: end;
}

.submit-container input {
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  transition: 200ms;
}

.submit-container input:hover {
  background-color: #dfdfdf;
>>>>>>> origin/main
}