<<<<<<< HEAD
input,select,textarea {
  background: none;
  border: none;
  border-bottom: solid 1px;
  color: black;
  outline: none;
}

input {
  max-width: 200px;
}

/* NAV */
.navs input {
  max-width: none;
  color: white;
}

.names {
  justify-content: space-between;
}

.name-input {
  font-size: 24px; 
  width: 50%;
}

.upload {
  align-items: center;
  color: black;
  justify-content: space-between;
}

.submit {
  align-self: flex-end;
  border: solid 1px white;
  border-radius: 7px;
  background: none;
  cursor: pointer;
  padding: 10px;
  transition: 100ms;
}

.submit:hover {
  border-color: black;
  background-color: black;
}

.submit:active {
  opacity: .7;
}

/* LOGIN POP UP */
.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

.modal-container {
  justify-content: space-around;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 50vh;
  max-width: 500px;
  max-height: 250px;
  padding: 20px;
  position: relative;
}


.card {
  background-color: #0000001a;
  border-radius: 10px;
  flex-grow: auto;
  align-items: center;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 98%;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  word-break: break-all;
}

.option {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.option button {
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 12px;
}

.mc-right::before {
  content: 'Edit your profile';
  font-size: 24px;
}


@media (max-height: 850px) {
  .author-profile {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    left: 50%;
    bottom: -50px;
  }
}

@media (max-width:780px) {
  .main-container {
    flex-direction: column;
    padding: 8vw;
    gap: 50px;
    max-height: none;
  }

  .main-container::before {
    content: 'Edit your profile';
    font-size: 24px;
  }

  .mc-right::before {
    content: none;
  }

  .mc-left-bottom {
    gap: 10px;
  }

  .close-button {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 550px) {
  .name-input {
    font-size: 22px;
  }

  .names {
    justify-content: flex-start;
  }
}

@media (max-width:500px) {
  .mc-left {
    min-width: auto;
  }

  main {
    padding: 5vw;
  }

  .main-container {
    padding: 50px 20px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
  }

  .scroll-button {
    width: 40px;
    height: 40px;
  }

  .scroll-image {
    width: 30px;
    height: 30px;
  }

  .scroll-left {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
  }

  .scroll-right {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
  }

  .province::before {
    display: block;
  }

  .upload {
    flex-direction: column;
    align-items: flex-start;
  }
}
=======
input,select,textarea {
  background: none;
  border: none;
  border-bottom: solid 1px;
  color: black;
  outline: none;
}

input {
  max-width: 200px;
}

/* NAV */
.navs input {
  max-width: none;
  color: white;
}

.names {
  justify-content: space-between;
}

.upload {
  align-items: center;
  color: black;
  justify-content: space-between;
}

.submit {
  align-self: flex-end;
  border: solid 1px white;
  border-radius: 7px;
  background: none;
  cursor: pointer;
  padding: 10px;
  transition: 100ms;
}

.submit:hover {
  border-color: black;
  background-color: black;
}

.submit:active {
  opacity: .7;
}

/* LOGIN POP UP */
.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

.modal-container {
  justify-content: space-around;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 50vh;
  max-width: 500px;
  max-height: 250px;
  padding: 20px;
  position: relative;
}


.card {
  background-color: #0000001a;
  border-radius: 10px;
  flex-grow: auto;
  align-items: center;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 98%;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  word-break: break-all;
}

.option {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.option button {
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 12px;
}


@media (max-height: 850px) {
  .headline {
    font-size: 24px;
  }
}

>>>>>>> origin/main
