<<<<<<< HEAD
body {
  display: flex;
  justify-content: center;
  padding: 190px;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.content {
  align-items: center;
  background-color: rgba(121, 118, 118, 0.221);
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  height: 370px;
  width: 300px;
}

.image-container {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.first {
  background-color: rgb(232, 182, 19);
}

.second {
  background-color: #039ce8;
}

.third {
  background-color: rgb(46, 255, 151);
}

.image-container img {
  width: 150px;
  height: 150px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  font-weight: bold;
}

@media (max-width: 1170px) {
  .main-container {
    flex-direction: column;
  }
  .content {
    width: 80vw;
  }

  footer {
    display: none;
  }
  
=======
body {
  display: flex;
  justify-content: center;
  padding-top: 190px;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.content {
  align-items: center;
  background-color: rgba(121, 118, 118, 0.221);
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  height: 370px;
  width: 300px;
}

.image-container {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.first {
  background-color: rgb(232, 182, 19);
}

.second {
  background-color: #039ce8;
}

.third {
  background-color: rgb(46, 255, 151);
}

.image-container img {
  width: 150px;
  height: 150px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  font-weight: bold;
>>>>>>> origin/main
}